---  
## GitIgnore

O projeto contém um arquivo '.gitignore' para evitar versionamento de arquivos temporários e configurações locais.

---

## Observação

Este repositório é uma solução de challenge técnico realizado através da plataforma Coodesh.
